@use "_colors";

.awards_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 116px);
  max-width: 1110px;
  width: 100%;
  max-height: 835px;
  margin: auto;
  margin-top: 101px;
  border-top: 2px solid colors.$border-line;

  &-title-top {
    margin-top: 50px;
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .awards_item {
    margin-top: 30px;
    grid-column: 3 / span 2;
    grid-row: 1;
  }

  .awards_text {
    margin-top: 50px;
    grid-column: 5 / span 6;
    grid-row: 1;

    &-main {
      margin-top: 0;
    }
    &-misc {
      max-width: 190px;
      width: 100%;
      min-height: 104px;
      line-height: 26px;
      margin-top: 12px;
      opacity: 0.5;
    }
  }

  .awards_year {
    margin-top: 50px;
    grid-column: 7 / span 7;
    grid-row: 1;
    text-align: right;
  }
}

.awards_container-two {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 116px);
  max-width: 1110px;
  width: 100%;
  margin: auto;
  margin-top: -100px;

  .awards_item-two {
    grid-column: 3 / span 3;
    grid-row: 1;
  }

  .awards_text-two {
    /* margin-top: -30px; */
    grid-column: 5 / 6;
    grid-row: 1;

    &-main-two {
      margin: 0;
    }
    &-misc-two {
      max-width: 190px;
      width: 100%;
      min-height: 104px;
      line-height: 26px;
      margin-top: 12px;
      opacity: 0.5;
    }
  }

  .awards_year-two {
    margin-top: 0px;
    grid-column: 7 / 7;
    grid-row: 1;
  }
}
