@use "_colors";

.awards_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1110px;
  width: 100%;
  min-height: 200px;
  margin: auto;
  margin-top: 100px;
  border-top: 2px solid colors.$border-line;

  &-title-top {
    margin-top: 50px;
    grid-area: 1 / 1 / 2 / 2;
  }

  .award_item {
    margin-top: 30px;
    grid-area: 1 / 3 / 2 / 4;
  }

  .award_text {
    margin-top: 53px;
    grid-area: 1 / 4 / 5 / 5;

    &-main {
      margin-top: 0;
    }
    &-misc {
      max-width: 190px;
      width: 100%;
      min-height: 104px;
      line-height: 26px;
      margin-top: 12px;
      opacity: 0.5;
    }
  }

  .award_year {
    margin-top: 53px;
    grid-area: 1 / 5 / 5 / 7;
    text-align: right;
  }
}

.awards_container-two {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 1110px;
  width: 100%;
  min-height: 200px;
  margin: auto;

  &-title-top-two {
    margin-top: 50px;
    grid-area: 3 / 1 / 4 / 2;
  }

  .award_item-two {
    margin-top: 30px;
    grid-area: 1 / 3 / 2 / 4;
  }

  .award_text-two {
    margin-top: 40px;
    grid-area: 1 / 4 / 5 / 5;

    &-main-two {
      margin: 0;
    }
    &-misc-two {
      line-height: 26px;
      opacity: 0.5;
    }
  }

  .award_year-two {
    margin-top: 53px;
    grid-area: 1 / 5 / 4 / 7;
    text-align: right;
  }
}
hr {
  max-width: 1110px;
  width: 100%;
  height: 2px;
  border: none;
  background-color: colors.$border-line;
}
