@use "_colors";
@use "_font";

.main_container {
  max-width: 1110px;
  width: 100%;
  min-height: 312px;
  display: flex;
  justify-content: space-between;
  margin: 110px auto;

  &-text {
    max-width: 420px;
    width: 100%;
    min-height: 174px;
    margin-bottom: 22px;
  }

  &-text-title {
    max-width: 418px;
    width: 100%;
    min-height: 174px;
  }

  &-text-content {
    max-width: 387px;
    width: 100%;
    min-height: 56px;
    opacity: 0.5;
  }
}

.main_container-contact-form {
  max-width: 475px;
  width: 100%;
  min-height: 291px;
  display: flex;
  justify-content: flex-end;
}

.form {
  max-width: 475px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 50px;

  .label {
    line-height: 37px;
    font-size: bold;
    font-size: 16px;
    opacity: 0.6;
  }
  input,
  textarea {
    max-width: 475px;
    width: 100%;
    min-height: 20px;
    border: none;
    resize: none;
    border-bottom: 1px solid #979797;
  }
}

.submit {
  max-width: 125px;
  width: 100%;
  min-height: 50px;
  background-color: colors.$text-hero;
  color: #fff;
  border: none;
}

.map {
  max-width: 1110px;
  width: 100%;
  min-height: 570px;
  margin: auto;
}
