/*----- Fonts -----*/
@use "_font";
/*----- variables -----*/
@use "_colors";
/*----- Header section -----*/
@import "_header";
/*----- Project details section -----*/
@import "_project-details";
/*----- Hero project section -----*/
@import "_hero-project";
/*----- Footer section -----*/
@import "_footer";

body {
  font-family: font.$main-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 60px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: normal;
  color: colors.$p-color;
}
a {
  text-decoration: none;
  color: colors.$li-color;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: colors.$hover;
}
