/*----- variables -----*/
@use "_variables";
/*----- Fonts -----*/
@use "_font";
/*----- Hero section -----*/
@import "_hero";
/*----- Header section -----*/
@import "_header";
/*----- Project section -----*/
@import "_project";

body {
  font-family: font.$main-Font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 60px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: regular;
  color: colors.$p-color;
}

a {
  text-decoration: none;
  color: colors.$Color;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: $colors;
}
