/*----- Fonts -----*/
@use "_font";
/*----- variables -----*/
@use "_colors";
/*----- Header section -----*/
@import "header";
/*----- Hero section -----*/
@import "hero";
/*----- Project section -----*/
@import "project";
/*----- Footer section -----*/
@import "footer";

/*----- Global styles -----*/
body {
  font-family: font.$main_Font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  padding-top: 60px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  font-weight: bold;
}

p {
  font-size: 16px;
  font-weight: regular;
  color: colors.$p_Color;
}

a {
  text-decoration: none;
  color: colors.$li_Color;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: colors.$hover;
}
